<link rel="stylesheet" href="~/css/miar_module.article.css"/>
<link rel="stylesheet" href="~/css/miar_demand.css" />
<link rel="stylesheet" href="~/css/miar_demand.fuelPurchase.css" />
<link rel="stylesheet" href="~/css/miar_module.pagination.css" />
<link rel="stylesheet" href="~/css/miar_module.userForm.css" />


<div class="table-agile-info">
    <div class="panel panel-default">
        @*title*@
        <div class="panel-heading">
            <div id="div_backButton" style="float:right" hidden>
                <button id="btn_back" type="button" class="btn">
                    <img src="~/images/close.png" alt="close"/>
                </button>
            </div>
            <div id="div_panelTitle">YAKIT ALIM TALEBİ</div>
        </div>
        @*/title*@
        <div class="panel-body">
            <div id="div_article_update" hidden>
                <form>
                    <div id="div_form" class="form-horizontal bucket-form" style="padding-top:20px">                    
                        @*display sender infos*@
                        <div id="div_senderInfos_base" class="form-group text-center">
                            <div class="col-sm-3"></div>
                            <div id="div_senderInfos" class="col-sm-6">
                                <img src="~/images/captain2.png"/>
                                <h4>Gönderenin Bilgilerini Görüntüle</h4>
                            </div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3 text-left div_infoMessage">
                                <button type="button" tabindex="-1" data-toggle="dropdown" class="dropdown-toggle"></button>
                                <ul role="menu" class="dropdown-menu"></ul>
                            </div>   
                        </div>
                        
                        @{
                            #region add inputs
                            var inputInfos = new object[][]{
                                new object[] {"input", "text", "nameSurname", "Ad Soyad", false, "hidden", "readonly"},  // type for switch/case | type for input | id | label name | info message | hidden/disabled/readonly for div[class= form-group] |  hidden/disabled/readonly for input
                                new object[] {"input", "text", "phone", "Telefon", false, "hidden", "readonly"},
                                new object[] {"input", "text", "email", "Email", false, "hidden", "readonly"},
                                new object[] {"input", "text", "newPassportNo", "Yeni Pasaport No", false, "hidden", "readonly"},
                                new object[] {"input", "text", "oldPassportNo", "Eski Pasapart No", false, "hidden", "readonly"},
                                new object[] {"input", "text", "rank", "Rank", false, "hidden", "readonly"},
                                new object[] {"input", "text", "nationality", "Uyruk", false, "hidden", "readonly"},
                                new object[] {"input", "text", "gender", "Cinsiyet", false, "hidden", "readonly"},
                                new object[] {"input", "text", "yachtName", "Yat Adı", false, "", "readonly"},
                                new object[] {"input", "text", "yachtType", "Yat Tipi", false, "", "readonly"},
                                new object[] {"input", "text", "flag", "Bayrak", false, "", "readonly"},
                                new object[] {"input", "text", "isDutyPaid", "Gümrüklü Mü", false, "", "readonly"},
                                new object[] {"input", "text", "mgo", "MGO", false, "", "readonly"},  // marine gas oil
                                new object[] {"input", "text", "ago", "AGO", false, "", "readonly"},  // automotive gas oil
                                new object[] {"input", "text", "fuelType", "Yakıt Tipi", false, "", "readonly"},
                                new object[] {"input", "text", "requestedFuel" , "İstenen Yakıt Miktarı (L)", false, "", "readonly"},
                                new object[] {"input", "text", "fuelSupplyPort", "Yakıt İkmal Yeri", false, "", "readonly"},
                                new object[] {"input", "text", "fuelSupplyDate", "Yakıt İkmal Tarihi", false, "", "readonly"},
                                new object[] {"input", "text", "creationDate", "Talep Tarihi", false, "", "readonly"},
                                new object[] {"textarea", "notes", "Notlar", true, "", "readonly"},  // type for case | id | label name | info message
                            };
                            //new object[] {"select", "yachtType", "Yat Tipi", new string[] {"MotorYacht", "SailingYacht", "Catamaran"}, false},  // type for case | id | label name | options | info message

                            foreach (var inputInfo in inputInfos)
                            {
                                switch (inputInfo[0])
                                {
                                    case "input":
                                        <div id="div_@inputInfo[2]" class="form-group" @inputInfo[5]>
                                            <label class="col-sm-3 control-label">@inputInfo[3]</label>
                                            <div class="col-sm-6">
                                                <input id="inpt_@inputInfo[2]" type="@inputInfo[1]" class="form-control" @inputInfo[6]>
                                                <span id="spn_help_inpt_@inputInfo[2]" class="help-block"></span>
                                            </div>
                                        
                                            @if((bool)inputInfo[4])
                                            {
                                                // add info message if desired
                                                 <div class="col-sm-3 div_infoMessage">
                                                    <button type="button" tabindex="-1" data-toggle="dropdown" class="dropdown-toggle"></button>
                                                    <ul role="menu" class="dropdown-menu"></ul>
                                                </div>   
                                            }
                                        </div>
                                        break;

                                    case "textarea":
                                        <div id="div_@inputInfo[1]" class="form-group">
                                            <label class="col-sm-3 control-label">@inputInfo[2]</label>
                                            <div class="col-sm-6">
                                                <textarea id="txt_@inputInfo[1]" class="form-control" @inputInfo[5]></textarea>
                                                <span id="spn_help_txt_@inputInfo[1]" class="help-block"></span>
                                            </div>
                                        
                                            @if((bool)inputInfo[3])
                                            {
                                                // add info message if desired
                                                 <div class="col-sm-3 div_infoMessage">
                                                    <button type="button" tabindex="-1" data-toggle="dropdown" class="dropdown-toggle"></button>
                                                    <ul role="menu" class="dropdown-menu"></ul>
                                                </div>   
                                            }
                                        </div>
                                        break;
                                }
                            }
                            #endregion
                        }

                        @*accept and reject buttons*@
                        <div id="div_buttons" class="form-group">
                            <div class="col-sm-6; text-center">
                                <button id="btn_accept" type="button" class="btn btn-danger">Onayla</button>
                                <button id="btn_reject" type="button" class="btn btn-danger">Reddet</button>
                            </div>
                        </div>
                    </div>
                </form>

                @*result label*@
                <div style="text-align:center">
                    <p id="p_resultLabel"></p>
                    <img id="img_loading" src="~/images/loading.gif" style="width:40px; height:40px" hidden/>
                </div>
            </div>
            <div id="div_article_display">
                @*article menubar*@
                <div class="row w3-res-tb"  style="padding-top:10px">
                    <div class="col-sm-5 m-b-xs">
				        @*main menu*@
                        <select id="slct_article_menu" class="input-sm form-control w-sm inline v-middle" style="float:left">
                            <option value="display">Görüntüle</option>
                            @*<option value="delete">Sil</option>*@
                        </select>

                        @*submenu of display option*@
                        <select id="slct_article_submenu_display" class="input-sm form-control w-sm inline v-middle" hidden>
                            <option value="Unanswered" checked>Cevaplanmamış</option>
                            <option value="Accepted">Kabul Edilen</option>
                            <option value="Rejected">Reddedilen</option>
                        </select>

                        @*apply button*@
                        <div id="div_menubar_button" hidden>
                            <button id="btn_menubar_apply" class="btn btn-sm btn_menubar_apply ">Uygula</button>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    </div>
			        @*search bar*@
			        @*<div class="col-sm-3">
				        <div class="input-group">
					        <input type="text" class="input-sm form-control" placeholder="Ara">
					        <span class="input-group-btn">
						        <button class="btn btn-sm btn-default" type="button">
							        Ara
						        </button>
					        </span>
				        </div>
			        </div>*@
			        @*/search bar*@
		        </div>

                @*machine articles*@
                <div id="div_articles" class="div_articles">
                </div>

                @*entity count and pagination buttons*@
                <footer class="panel-footer">
                    <div class="row">
                        @*entity quantity*@
                        <div class="col-sm-5 text-left">
                            <small id="small_entityQuantity" class="text-muted inline m-t-sm m-b-s"><b>0/0</b> Talep Görüntüleniyor</small>
                        </div>
                        
                        @*pagination buttons*@
                        <div class="col-sm-7 text-right text-center-xs">                
                            <ul id="ul_pagination" class="pagination pagination-sm m-t-rowNone m-b-rowNone">
                                @*info message*@
                                <li>
                                    <a id="a_infoMessage" class="paginationButtons" href="#" style="border-width:0px">
                                        <div class="div_infoMessage">
                                            <input type="button" tabindex="-1" data-toggle="dropdown" class="dropdown-toggle"/>
                                            <ul role="menu" class="dropdown-menu">
                                                <li>* Girilen sayfa numarasını açmak için "Enter" tuşuna veya "/" sembolüne tıklanmalıdır.</li>
                                            </ul>
                                        </div>          
                                    </a>
                                </li>
                                <li>
                                    <a id="a_paginationBack" class="paginationButtons" href="#" hidden>
                                        <i class="fa fa-chevron-left"></i>
                                    </a>
                                </li>
                                <li>
                                    <a id="a_paginationCurrent" class="paginationButtons" href="#">
                                        <input type="number" min="1" value="1"/>
                                    </a>
                                </li>
                                <li>
                                    <a id="a_separator" class="paginationButtons" href="#" disabled>/</a>
                                </li>
                                <li>
                                    <a id="a_paginationLast" class="paginationButtons" href="#" disabled></a>
                                </li>
                                <li>
                                    <a id="a_paginationNext" class="paginationButtons" href="#" hidden>
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>    
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>


<script type="module" src="~/js/miar_demand.fuelPurchase.js"></script>